body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.X {
  color: blue;
}

.square.O {
  color: red;
}

.square.X.highlight {
  background-color: darkgray;
}

.square.O.highlight {
  background-color: darkgray;
}

.square.square.X.highlight.blink {
  animation: blinkAnimeBackground 1s infinite alternate;
}
.square.square.O.highlight.blink {
  animation: blinkAnimeBackground 1s infinite alternate;
}
@keyframes blinkAnimeBackground {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: darkgray;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.text-bold_900 {
  font-weight: 900;
}

.text-blink {
  animation: blinkAnimationText 1s infinite alternate;
}
@keyframes blinkAnimationText {
  0% {
    color: #ffffff;
  }
  100% {
    color: #000000;
  }
}
